/* 로고 */
tittle > nav {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

tittle > div {
    height: 4px;
    background-color: black;
    margin-top: 10px;
}

/* 로고 끝 */

/* first-box-1 :모작 시작 */
.article-list-box {
    text-align: center;
    max-width: 100%;
    

}

.article-list-box .first-box-1 {
    background-color: dimgray;
    display: inline-block;
    padding:10px 20px;
    font-size: 1.5rem;
    border-radius: 10px;
    margin-top:20px;
    color: whitesmoke
}

/* first-box-1 끝 */

/* .article-list-box 시작 */

.article-list-box .menu-box > div {
    margin-top:20px;
    background-color: #dfdfdf;
    display:inline-block;
    padding:5px 10px;
    border-radius: 10px;
    margin-left: 10px;
}

.article-list-box .menu-box > div:first-child {
    margin-left:-10px;
}
.article-list-box .menu-box > div > a {
    display: block;
}
 

.article-list-box .menu-box > div:hover > a {
    color:white;
    font-weight: bold;
}
/* .article-list-box 끝 */ 

